@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'responsive';
@import 'colors';
@import 'layout';
@import 'navbar';
@import 'home';

html,
body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  .label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input,
  select {
    border: 1px solid $color-inputBorder;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    &:disabled {
      background: $color-backgroundGray;
    }
    -webkit-appearance: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer {
  background-color: $color-backgroundGray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
  border-radius: 5px;
  padding: 30px;
  &.end {
    justify-content: flex-end;
  }
}

.myButton {
  background-color: $color-primary;
  color: $color-white;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1.2rem;
  border: 1px solid $color-primary;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: $color-white;
    color: $color-primary;
  }
}

.validation {
  font-weight: bold;
  font-size: 1.2rem;
  color: $color-validation;
}
